@model DesignerFormViewModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input type="text" class="form-control" id="Name" placeholder="Add designer name here ...">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="Email" placeholder="Add designer email here ...">
                <span asp-validation-for="Email" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Experience" class="form-label">Design Experience</label>
                <input type="number" class="form-control" id="Experience" placeholder="Add work experience in years here ...">
                <span asp-validation-for="DesignExperience" class="small text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="ImageUrl" class="form-label">Designer Image URL</label>
                <input type="text" class="form-control" id="ImageUrl" placeholder="Add image URL here ...">
                <span asp-validation-for="DesignerImageUrl" class="small text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="SelectDiscipline" class="form-label">Discipline</label>
                <select asp-for="DisciplineId" class="form-select id="SelectDiscipline" area-label="Select a disciline">
                    @foreach (var discipline in Model.Disciplines)
                    {
                        <option value="@discipline.Id">@discipline.Name</option>
                    }
                </select>
                <span asp-validation-for="DisciplineId" class="small text-danger"></span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
