@{
    ViewBag.Title = "Error";
}

<div class="container">
    <div class="error-404-page-image"></div>
    <h1 class="text-danger">@ViewBag.Title</h1>
    <h2 class="text-danger">Oops, page not found!</h2>
    <br />
    <br />
    <div class="text-left h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
</div>

