@{
    ViewBag.Title = "Error";
}

<div>
    <img src="https://localhost:7134/img/ErrorPages/400-bad-request.jpg" alt="Alternative image" style="object-fit: cover;">
    <h1 class="text-danger">@ViewBag.Title</h1>
    <h2 class="text-danger">Oops, better check that URL. Bad request!</h2>
    <br />
    <br />
    <div class="text-left h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
</div>

