@{
    ViewBag.Title = "Error";
}

<div class="container">
    <section>
        <img src="https://localhost:7134/img/ErrorPages/404-not-found.jpg" alt="Alternative image" style="object-fit: cover">
    </section>
    <h1 class="text-danger">@ViewBag.Title</h1>
    <h2 class="text-danger">Oops, page not found!</h2>
    <br />
    <br />
    <div class="text-left h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
</div>

